<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net40" />
  <package id="Senparc.Weixin" version="4.11.9" targetFramework="net40" />
  <package id="Senparc.Weixin.QY" version="4.2.4" targetFramework="net40" />
  <package id="SyntacticSugar" version="2.4.1" targetFramework="net40" />
  <package id="System.Net.Http" version="2.0.20710.0" targetFramework="net40" />
</packages>